body { font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; }

ul { list-style-type: square; }



/******************************
 *note: wrap projection stuff with @media screen - why?  do NOT mess up printing with position: absolute etc. 
 *
 *  todo/check: wrap everything? and add a print stylesheet - why? why not?
 */

@media screen {


a:link, a:visited { color: black; }

/***************************************
 *  note: for bespoke.js compatibility use  bespoke-slide (instead of slide) etc. */

.bespoke-slide h1.fullscreen {
    position: absolute;
    top: 40%;
    width: 100%; }

/* lets you create slides with no heading (because heading is hidden but gets included in toc) */
.bespoke-slide h1.hidden     { display: none; }
    
} /* @media screen */



/**********************************/
/* general text-alignment classes */

.left   { text-align: left; }
.center { text-align: center; }
.right  { text-align: right;  }

/**********************************/
/* general font-size classes      */

.small { font-size: 97%; }

.x-small,
.smaller   { font-size: 88%; }

.xx-small,
.smallest,
.tiny      { font-size: 82%; }


.footnote { font-size: 88%; }
.footnote a:first-of-type  { text-decoration: none; }



pre { padding: 4px 4px 4px 4px;
      border-top: #bbb 1px solid;
      border-bottom: #bbb 1px solid;
      background: #f3f3f3; }


.help p,
.help td  { font-size: 88%; }


    

